<ion-content>
    <div class="login-section ion-padding">
        <div class="heading ion-padding">
            <h1>Registro de nueva cuenta</h1>
        </div>
        <form (ngSubmit)="registrarUsuario()">
            <div class="login-form ion-padding">

                <!-- Campo para el Nombre Completo -->
                <div class="form-input">
                    <ion-icon name="person-outline"></ion-icon>
                    <ion-item>
                        <ion-input label="Nombre" labelPlacement="floating" placeholder="Ingrese su nombre"
                            [(ngModel)]="nombre" name="nombre" required>
                        </ion-input>
                    </ion-item>
                </div>

                <!-- Campo para el Apellido -->
                <div class="form-input">
                    <ion-icon name="person-outline"></ion-icon>
                    <ion-item>
                        <ion-input label="Apellido" labelPlacement="floating" placeholder="Ingrese su apellido"
                            [(ngModel)]="apellido" name="apellido" required>
                        </ion-input>
                    </ion-item>
                </div>

                <!-- Campo para el Correo -->
                <div class="form-input">
                    <ion-icon name="mail-outline"></ion-icon>
                    <ion-item>
                        <ion-input label="Correo" labelPlacement="floating" placeholder="Ingrese su correo"
                            [(ngModel)]="correo" name="correo" type="email" required>
                        </ion-input>
                    </ion-item>
                </div>

                <!-- Campo para la Contraseña -->
                <div class="form-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <ion-item>
                        <ion-input label="Contraseña" labelPlacement="floating" placeholder="Ingrese su contraseña"
                            [(ngModel)]="contrasena" name="contrasena" type="password" required>
                        </ion-input>
                    </ion-item>
                </div>
                <!-- Campo para la Re Solicitar Contraseña -->
                <div class="form-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <ion-item>
                        <ion-input label="Re Ingrese La Contraseña" labelPlacement="floating"
                            placeholder="Ingrese su contraseña otravez" [(ngModel)]="Recontrasena" name="Recontrasena"
                            type="password" required>
                        </ion-input>
                    </ion-item>
                </div>
                <!-- Campo para Seleccionar una Pregunta -->
                <div class="form-input">
                    <ion-icon name="help-outline"></ion-icon>
                    <ion-item>
                        <ion-label>Seleccione una pregunta</ion-label>
                        <ion-select placeholder="Seleccione" [(ngModel)]="id_pregunta" name="pregunta" required>
                            <ion-select-option *ngFor="let pregunta of preguntas" [value]="pregunta.id_pregunta">
                                {{ pregunta.pregunta }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>

                <!-- Campo para Respuesta de la Pregunta -->
                <div class="form-input">
                    <ion-icon name="chatbubble-outline"></ion-icon>
                    <ion-item>
                        <ion-input label="Respuesta" labelPlacement="floating" placeholder="Ingrese su respuesta"
                            [(ngModel)]="respuesta" name="respuesta" required>
                        </ion-input>
                    </ion-item>
                </div>

                <!-- Botones de Registro y Navegación a Login -->
                <div class="action-button ion-padding">
                    <ion-button size="large" class="login-button" type="submit">Registrarme</ion-button>
                    <ion-button class="signup-button" size="large" fill="outline" routerLink="/login">Iniciar
                        sesión</ion-button>
                </div>

            </div>
        </form>
    </div>
</ion-content>