<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-container">
  <div *ngIf="foto">
    <ion-avatar class="profile-image">
      <img [src]="foto" alt="Foto de perfil" />
    </ion-avatar>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input [(ngModel)]="Usuario.nombre" [disabled]="!editando"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="Usuario.email" [disabled]="!editando"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Contraseña</ion-label>
      <ion-input
        [(ngModel)]="Usuario.contrasena"
        [disabled]="!editando"
        type="password"
      ></ion-input>
    </ion-item>
  </ion-list>

  <div class="photo-buttons">
    <ion-button (click)="selectPhoto()">Tomar/Seleccionar Foto</ion-button>
  </div>

  <div class="edit-buttons">
    <ion-button *ngIf="!editando" (click)="toggleEdicion()">Editar</ion-button>
    <ion-button *ngIf="editando" color="success" (click)="guardarCambios()">Guardar</ion-button>
  </div>
</ion-content>
