<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
    <ion-title>Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding custom-background">
  <div class="header-image">
    <img src="/assets/icon/torneo.jpg" alt="Sobre Nosotros" />
  </div>

  <div class="content-wrapper">
    <!-- Mostrar mensaje de carga mientras se obtienen los datos -->
    <ion-spinner *ngIf="loading"></ion-spinner>
    <ion-card *ngFor="let info of nosotros" class="content-card vibrant-card">
      <ion-card-header>
        <ion-card-title>{{ info.titulo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ info.descripcion }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
