<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Campos para el formulario -->
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input
      placeholder="Ingrese el nombre"
      [(ngModel)]="nombre"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input
      placeholder="Ingrese el email"
      [(ngModel)]="email"
      type="email"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input
      placeholder="Ingrese la contraseña"
      [(ngModel)]="contrasena"
      type="password"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Rol Usuario</ion-label>
    <ion-input
      placeholder="Ingrese El Rol Usuario"
      [(ngModel)]="id_rol"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Preguntas</ion-label>
    <ion-input
      placeholder="Ingrese la Id Pregunta"
      [(ngModel)]="id_pregunta"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Respuestas</ion-label>
    <ion-input
      placeholder="Ingrese la Respuesta"
      [(ngModel)]="respuesta"
    ></ion-input>
  </ion-item>

  <!-- Botones -->
  <div class="button-group">
    <ion-button expand="block" color="success" (click)="insertar()">Agregar Usuario</ion-button>
    <ion-button expand="block" color="warning" [routerLink]="['/crud/usuarios']">Ir a Lista Usuarios</ion-button>
  </div>
</ion-content>
