<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestión de Inscripciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Lista de Inscripciones -->
  <ion-list>
    <ion-item-sliding *ngFor="let inscripcion of arregloInscripciones">
      <ion-item>
        <h2>Torneo: {{ inscripcion.nombre_torneo }}</h2>
        <p>Usuario: {{ inscripcion.nombre_usuario }}</p>
        <p>Fecha: {{ inscripcion.fecha_inscripcion }}</p>
      </ion-item>

      <!-- Opciones de Modificar/Eliminar -->
      <ion-item-options side="end">
        <ion-item-option (click)="modificar(inscripcion)">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="eliminar(inscripcion)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- Botón para Agregar -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
