<div class="ion-page" id="main-content">
  <ion-header>
      <ion-toolbar>
          <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
          </ion-buttons>
      </ion-toolbar>
  </ion-header>
</div>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4">
        <ion-button expand="block" color="primary" [routerLink]="['/crud/canchas']">Canchas</ion-button>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-button expand="block" color="secondary" [routerLink]="['/crud/roles']">Roles</ion-button>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-button expand="block" color="tertiary" [routerLink]="['/crud/usuarios']">Control Usuarios</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" size-md="4">
        <ion-button expand="block" color="success" [routerLink]="['/crud/preguntas']">Preguntas</ion-button>
      </ion-col>
      <ion-col size="6" size-md="4">
        <ion-button expand="block" color="medium" [routerLink]="['/crud/torneos']">Torneos</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" size-md="6">
        <ion-button expand="block" color="medium" [routerLink]="['/crud/inscripciones-torneos']">Inscripciones Torneos</ion-button>
      </ion-col>
      <ion-col size="6" size-md="6">
        <ion-button expand="block" color="medium" [routerLink]="['/crud/horarios']">Horarios</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
