<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agregar Horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Selección de Cancha -->
  <ion-item>
    <ion-label>Cancha</ion-label>
    <ion-select [(ngModel)]="id_cancha" placeholder="Selecciona la cancha">
      <ion-select-option *ngFor="let cancha of canchas" [value]="cancha.id_cancha">
        {{ cancha.nombre_cancha }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Campos para el formulario -->
  <ion-item>
    <ion-label position="floating">Hora de Inicio</ion-label>
    <ion-input
      placeholder="HH:MM"
      [(ngModel)]="hora_inicio"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Hora de Fin</ion-label>
    <ion-input
      placeholder="HH:MM"
      [(ngModel)]="hora_fin"
    ></ion-input>
  </ion-item>

  <!-- Botones -->
  <div class="button-group">
    <ion-button expand="block" color="success" (click)="insertar()">Agregar Horario</ion-button>
    <ion-button expand="block" color="warning" [routerLink]="['/crud/horarios']">Ir a Lista de Horarios</ion-button>
  </div>
</ion-content>
