<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestión de Roles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Lista de Roles -->
  <ion-list>
    <ion-item-sliding *ngFor="let rol of arregloRol">
      <ion-item>
        <h2>{{ rol.nombre_rol }}</h2>
      </ion-item>

      <!-- Opciones de Modificar/Eliminar -->
      <ion-item-options side="end">
        <!-- Botón Modificar -->
        <ion-item-option (click)="modificar(rol)">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
        <!-- Botón Eliminar -->
        <ion-item-option color="danger" (click)="eliminar(rol)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- Botón Agregar -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
