<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Modificar Horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Campos para el formulario -->
  <ion-item>
    <ion-label position="floating">Id Cancha</ion-label>
    <ion-input placeholder="Ingrese el Id de la cancha" [(ngModel)]="horario.id_cancha"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Hora de Inicio</ion-label>
    <ion-input placeholder="HH:MM" [(ngModel)]="horario.hora_inicio"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Hora de Fin</ion-label>
    <ion-input placeholder="HH:MM" [(ngModel)]="horario.hora_fin"></ion-input>
  </ion-item>

  <!-- Botones -->
  <div class="button-group">
    <ion-button expand="block" color="success" (click)="modificar()">Modificar Horario</ion-button>
    <ion-button expand="block" color="warning" [routerLink]="['/crud/horarios']">Ir a Lista de Horarios</ion-button>
  </div>
</ion-content>