<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gestión de Canchas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Lista de Canchas -->
  <ion-list>
    <ion-item-sliding *ngFor="let x of arregloCanchas">
      <ion-item>
        <h2>{{ x.nombre_cancha }}</h2>
        <p>{{ x.tipo_deporte }}</p>
      </ion-item>

      <!-- Opciones de Modificar/Eliminar -->
      <ion-item-options side="end">
        <ion-item-option (click)="modificar(x)">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="eliminar(x)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- Botón para Agregar -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
