<ion-app>
    <!-- Menú lateral -->
    <ion-menu contentId="main-content">
        <ion-header>
            <ion-toolbar>
                <ion-title>Menú</ion-title>
            </ion-toolbar>

            <ion-buttons>
                <ion-icon name="list-sharp"></ion-icon>
                <ion-button [routerLink]="['/historial']">Historial de reservas</ion-button>
            </ion-buttons>

            <ion-buttons>
                <ion-icon name="construct-sharp"></ion-icon>
                <ion-button [routerLink]="['/nosotros']">Nosotros</ion-button>
            </ion-buttons>

            <ion-buttons>
                <ion-icon name="trophy-sharp"></ion-icon>
                <ion-button [routerLink]="['/torneo']">Torneos</ion-button>
            </ion-buttons>
        </ion-header>

        <ion-footer>
            <ion-buttons>
                <ion-icon name="person-sharp"></ion-icon>
                <ion-button [routerLink]="['/perfil']">Mi perfil</ion-button>
            </ion-buttons>

            <ion-buttons>
                <ion-icon name="log-out-sharp"></ion-icon>
                <ion-button [routerLink]="['/login']">Cerrar sesión</ion-button>
            </ion-buttons>
        </ion-footer>
    </ion-menu>

    <!-- Contenido principal -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>