ion-menu {
    --background: #f4f4f4; /* Color de fondo */
  }
  
  ion-toolbar {
    --background: #3880ff; /* Color del encabezado */
    color: white;
  }
  
  ion-footer {
    display: flex;
    justify-content: space-between;
  }
  