<ion-app>
    <!-- Menú lateral -->
    <ion-menu contentId="main-content">
        <ion-header>
            <ion-toolbar>
                <ion-title>Menú</ion-title>
            </ion-toolbar>

            <ion-buttons>
                <ion-icon name="list-sharp"></ion-icon>
                <ion-button (click)="navigateTo('/historial')">Historial de reservas</ion-button>
            </ion-buttons>

            <ion-buttons>
                <ion-icon name="construct-sharp"></ion-icon>
                <ion-button (click)="navigateTo('/nosotros')">Nosotros</ion-button>
            </ion-buttons>

            <ion-buttons>
                <ion-icon name="trophy-sharp"></ion-icon>
                <ion-button (click)="navigateTo('/torneo')">Torneos</ion-button>
            </ion-buttons>

            <!-- Botón de CRUD Admin visible solo para id_rol = 1 -->
            <ion-buttons *ngIf="id_rol === 1">
                <ion-icon name="settings-sharp"></ion-icon>
                <ion-button (click)="navigateTo('/crud-admin')">CRUD Admin</ion-button>
            </ion-buttons>
        </ion-header>

        <ion-footer>
            <ion-buttons>
                <ion-icon name="person-sharp"></ion-icon>
                <ion-button (click)="navigateTo('/perfil')">Mi perfil</ion-button>
            </ion-buttons>

            <ion-buttons>
                <ion-icon name="log-out-sharp"></ion-icon>
                <ion-button (click)="navigateTo('/login')">Cerrar sesión</ion-button>
            </ion-buttons>
        </ion-footer>
    </ion-menu>

    <!-- Contenido principal -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
