<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Modificar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Campos para el formulario -->
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input
      placeholder="Ingrese el nombre"
      [(ngModel)]="usuario.nombre"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input
      placeholder="Ingrese el email"
      [(ngModel)]="usuario.email"
      type="email"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input
      placeholder="Ingrese la contraseña"
      [(ngModel)]="usuario.contrasena"
      type="password"
    ></ion-input>
  </ion-item>

  <!-- Botones -->
  <div class="button-group">
    <ion-button expand="block" color="success" (click)="modificar()">Modificar Usuario</ion-button>
    <ion-button expand="block" color="warning" [routerLink]="['/crud/usuarios']">Ir a Lista Usuarios</ion-button>
  </div>
</ion-content>
